* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./img/2036.jpg_wh1200.png');
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; /* Cambiamos a flex-direction: column para que los elementos se apilen verticalmente */
  align-items: center; /* Centramos los elementos verticalmente */
}
.anuncio {
  display: flex;
  align-items: center;
  height: 27px;
  width: 90%;
}
.anuncio p {
  font-weight: bold;
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
}

.redes-sociales {
 display: flex;
 justify-content: end;
 height: 58px;
}

.redes-sociales a {
  color: white;
  font-size: 32px;
  padding: 10px;
  transition: transform 0.3s ease; /* Agregamos una transición de transformación */
}
.redes-sociales a:hover {
  color: lightgray;
  transform: translateY(-5px); /* Movemos el ícono hacia arriba*/
}



nav {
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 5px;
  margin: 30px 15px;
  justify-content: center;
  transition: transform 0.3s ease;
}

nav li:hover {
  transform: scale(1.3); /* Aplicamos un zoom del 10% al hacer hover */
}

nav ul li {
  margin-right: 10px;
  transition: transform 0.5s ease; /* Ajusta el tiempo de transición según tus preferencias */
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
}

nav ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none; /* Elimina el contorno al hacer clic en el enlace */
}

nav ul li:nth-child(2) a {
  text-align: left; /* Alinea el texto a la izquierda */
}

.contenedor-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 410px; /* Ajusta la altura según tus necesidades */
  width: 100%;
  margin-top: 50px; /* Agregamos un margen superior para separar la imagen del menú */
}

.contenedor-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20%;
}

.h2-web {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: azure;
}
.actualmente{
  color: red;
}
.seccion {
  display: flex;
  flex-direction: column; /* Cambiamos a flex-direction: column para que los elementos se apilen verticalmente */
  align-items: center; /* Centramos los elementos verticalmente */
  color: white;
  justify-content: center;
}

.ocultar {
  display: none;
}

li:hover {
  box-shadow: 0 0 50px white;
  background-color: rgba(255, 255, 255, 0.3); /* Cambia el fondo al hacer hover */
}

.highlight {
  font-weight: bold; /* Aplica negrita a la palabra */
  color: red; /* Cambia el color de la palabra */
}

p {
  color: white;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin: 2rem; /* Reducimos el margen para ajustar el espaciado */
}

.sobre__mi {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  max-height: 500px;
  gap: 2rem;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

#experiencia p {
  width: 80%; /* Ajusta el ancho según tus preferencias */
  margin: 0 auto; /* Centra horizontalmente */
}

p {
  margin-bottom: 2rem; /* Reducimos el margen inferior para ajustar el espaciado */
  padding-bottom: 20px;
}

.exp-img {
  display: flex;
  flex-wrap: wrap; /* Permitimos que las imágenes se envuelvan en filas cuando no haya suficiente espacio */
  justify-content: center;
}
.exp-img img {
  width: 80px;
  height: 80px;
  margin: 1.5rem;
  filter: brightness(0) invert(1);
}

#experiencia img {
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#experiencia img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.caja-todo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img-cert img{
  display: flex;
  flex-wrap: wrap; /* Permitimos que las imágenes se envuelvan en filas cuando no haya suficiente espacio */
  justify-content: center;
  width: 250px;
  padding: 10px;
}
.app-text{
  font-size: 15px;
  background-color: #1c1c1cb9;
  border-radius: 20%;
  padding: 1rem;
  opacity: 1;
}
.imgc{
display: flex;
flex-wrap: wrap;
gap: 2rem;
}
.mis__experiencia__1 {
  display: flex;
  text-align: center;
  border: solid 2px #ececec;
  width: 400px;
  height: 400px;
  padding: 1rem;
  margin: .5rem;
  background-color: rgba(0, 0, 0, 0.69);
}
.mis__experiencia__1:hover {
  box-shadow: 0 0 20px rgb(255, 0, 0)
}

.mis__experiencia__2 {
  text-align: center;
  font-size: 15px;
  border: solid 2px #ececec;
  width: 400px;
  height: 400px;
  padding: 1rem;
  margin: .5rem;
  background-color: rgba(0, 0, 0, 0.69);
}
.mis__experiencia__2:hover {
  box-shadow: 0 0 20px rgb(255, 0, 0)
}
.listado{
  font-size: 18.5px;
  list-style: none;
}
.proyectos {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.proyectos-container {
  display: flex;
  flex-wrap: wrap; /* Permitimos que las imágenes se envuelvan en filas cuando no haya suficiente espacio */
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  max-height: 90%;
  gap: 5rem;
  margin-top: 70px;
}
.proyecto-titulo {
  font-family: 'Bowlby One', cursive;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  font-size: 25px;
  justify-content: center;
  transform: scale(1.3);
  box-shadow: 0 0 10px rgb(221, 233, 233);
  margin-bottom: 100px;
  width: 220px;
  padding: 3px;
}

.proyecto__style img{
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 100px;
}
.campo1 {
  padding: 1.5rem;
  width: 300px;
  height: 400px;
  border: solid .5px aqua;
  border-radius: 20%;
  transform: scale(1.0);
  box-shadow: 0 0 40px rgb(102, 234, 234);
  animation: suspension 3s infinite;

}


@keyframes suspension {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.btn-neon{
  position: relative;
  display: inline-block;
  padding: 5px 8px;
  margin: 4px 0 0 0;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition:  0.2s;
}
.btn-neon:hover{
  background-color: red;
  box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
  transition-delay: .5s;
}
.btn-neon span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left:-100%;
  width: 100%;
  background-color: linear-gradient(90deg,tranparent,red);
}
.btn-neon:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right:-100%;
  width: 100%;
  background-color: linear-gradient(270deg,tranparent,red);
}
.btn-neon:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,tranparent,red);
}
.btn-neon:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,tranparent,red);
}
.btn-neon:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
  form {
    max-width: 80%;
    max-width: auto;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .whatsapp{
  display: flex;
  justify-content: center;
}
  @media only screen and (max-width: 600px) {
    form {
      width: 100%;
    }
  }
@media screen and (max-width: 620px) {
  body {
    align-items: stretch; /* Ajustamos la alineación de los elementos para ocupar todo el ancho */
  } 
  .contenedor-image {
    max-height: 280px;
    margin-top: 20px;
  }
  .redes-sociales p{
    max-width: 220px;
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
  .h2-web{
    font-size: 25px;
  }
  .sobre-mi{
    max-width: auto;
  }
  p{
    font-size: 15px;
    margin-top: 0;
    max-width: auto;
  }
  
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu {
    color: #1c1c1c;
  }
  .cerrar-menu {
    color: #ececec;
  }
  .nav {
    z-index: 9;
    opacity: 0;
    width: 100%;
    visibility: hidden;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
    width: 65%;
    height: 100%;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
    gap: 3rem;
  }
  .nav-list li:last-child {
    margin-top: auto; 
  }
  .nav-list li a {
    color: #ecececec;
  }
  .abrir-menu,
  .cerrar-menu {
    display: flex;
    justify-content: end;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem;
  }
  .abrir-menu {
    color: #fafafa;
    font-size: 30px;
  }
  .cerrar-menu {
    color: #ececec;
  }
  #experiencia p {
    width: 90%; /* Ajusta el ancho según tus preferencias */  
  }
  .proyectos-container {
    display: flex;
    flex-wrap: wrap; /* Permitimos que las imágenes se envuelvan en filas cuando no haya suficiente espacio */
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    max-height: 90%;
    gap: 5rem;
    margin-top: 70px;
  }
  .proyecto-titulo {
    font-family: 'Bowlby One', cursive;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 25px;
    justify-content: center;
    transform: scale(1.3);
    box-shadow: 0 0 10px rgb(221, 233, 233);
    margin-bottom: 100px;
    width: 220px;
    padding: 3px;
  }
  .proyecto__style img{
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 75px;
  }
  .campo1 {
    padding: 1.5rem;
    width: 250px;
    height: 300px;
    border: solid .5px aqua;
    border-radius: 20%;
    transform: scale(1.0);
    box-shadow: 0 0 40px rgb(102, 234, 234);
    animation: suspension 2s infinite;
  }
  @keyframes suspension {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @media screen and (max-width: 360px) {

  .mis__experiencia__1 {
    font-size: 13px;
  }
  .listado{
    font-size: 13px;
    list-style: none;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
  }
  a:-webkit-any-link{
    display: flex;
    flex-wrap: wrap-reverse;
  }
}
}
@media screen and (max-width: 270px) {
  p{
    font-size: 15px;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 250px) {
  p{
    font-size: 15px;
    margin-top: 10rem;
  }
}
@media screen and (max-width: 230px) {
  .abrir-menu{
    margin-right: 1px;
  }
  .contenedor-image img {
    max-width: 130px;
  }
  .h2-web{
    font-size: 15px;
  }
  p{
    font-size: 15px;
    margin-top: 20rem;
  }
}